body {
	font-family: 'Josefin Sans', sans-serif;
	color: #242424;
}

nav {
	background-color: rgba(66, 134, 244, 0.7);
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	}


ul {
	list-style: none;
	float: right;
	margin-top: 35px;
	margin-right: 50px;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: whitesmoke;
	padding: 10px;
	font-size: 20px;
	
}

li a:hover {
    background-color: #e2c0c0;
}

h1 {
	float: left;
	color: whitesmoke;
	margin-left: 50px;
}


.clearfix {
	clear: both;
}

footer {
	text-align: center;
}

section {
	padding: 10px;
	border: 1px solid #242424;
	width: 300px;
	height: 400px;
	margin: 200px 500px;
	font-size: 10px;
}

i {
	float: right;
}

#opis {
	padding: 5px;
	width: 300px;
	height: 200px;
	margin: 5px 0px;
	font-size: 10px;
}
 img {
 	float: right;
 	height: 200px;
 	width: 150px;
 	padding: 5px;
 }
 h5 {
 	padding-top: 5px;
 }

 table {
 	width: 100%;
 }

 #tabela {
	width: 300px;
	height: 200px;
	margin: 5px 0px;
	font-size: 10px;
 }
tr:nth-child(even) {
    background-color: #dddddd;
}
th {
	border-right: 1px solid #242424;
}

td {
	text-align: center;
}